entrypoint = "test_sniffer.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "test_sniffer.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run lr3.py"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run lr.py"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run sniffer.py"

[[workflows.workflow]]
name = "Run lr3.py"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python lr3.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Run lr.py"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python lr.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Run sniffer.py"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sniffer.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
AP_MAC = "AA:BB:CC:DD:EE:FF"
SSID = "OfficeNet_5G"
Deauth_threshold = "3"
